/* Mobile Devices */
@media (max-width: 1000px) {

  #content-area {
    margin-bottom: 80px;
  }

  .post-tags {
    padding: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: none;
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(186, 186, 186, 0) 40%,
        rgba(255, 255, 255, 0) 100%);
  }

  .post-tags span {
    margin: 5px;
    margin-top: 10px;
  }


  .blog-container {
    padding: 0px;
  }

  .card-img-top {
    aspect-ratio: 16/7;
  }

  .blog-card-img {
    width: auto;
    height: auto;
    background-color: inherit !important;
  }

  .blog-card {
    flex-direction: column;
    height: auto;
    min-height: 128px;
  }

  .blog-card-title {
    font-size: 22px;
  }

  #filter-bar {
    flex-direction: column;
    padding: 0px;
    margin-bottom: 0px;
    gap: 15px;
  }

  #filter-bar,
  #search-button,
  #search-input,
  .flatpickr-input {
    height: auto !important;
    min-height: 40px !important;
  }

  #reset-filters-mobile {
    display: inline-block;
    border-radius: var(--filter-bar-item-radius);
    background-color: var(--filter-bar-background-color);
    color: var(--text-color-button-warning);
    border: 1px solid var(--text-color-button-warning);
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--default-font);
    margin-left: 15px;
  }



  #reset-filters-mobile:active {
    background-color: color-mix(in srgb,
        var(--text-color-button-warning),
        transparent 80%);
  }


  #reset-filters {
    display: none;
  }

  .flatpickr-calendar {
    top: 120px !important;
  }

  .blog-card-body {
    position: static;
    padding-top: 10px;
  }

  .blog-card-footer {
    position: static;
    padding: 0 !important;
  }

  .blog-card-footer {
    padding: 15px 10px 0px 0px;
  }

  .single-post-container {
    /* backdrop-filter: blur(var(--post-card-blur-size));
    -webkit-backdrop-filter: blur(var(--post-card-blur-size)); */
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 15px;
    background-color: #1e1e1e8c;
    margin-bottom: 100px;
  }

  .single-post-title {
    font-size: 32px;
  }

  .single-post-container::after {
    content: " ";
    display: block;
  }

  .post-header {
    padding: 10px;
  }

  .back-to-blog {
    padding-left: 10px;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: #00010e;
  }

  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
  }

  .main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }

  #sidebar-container {
    /* width: var(--sidebar-size); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    position: fixed;
    z-index: 100;
    left: -100vw;
    transition: left 0.2s ease-out;
    border: none;
  }

  #content-container {
    width: 100vw;
    position: relative;
    left: 0vw;
    transition: left 0.2s ease-out;
    margin: 0px;
    padding: 10px;
  }

  .show-sidebar {
    left: 0 !important;
  }

  .hide-content {
    left: 100vw !important;
  }

  .menu-button {
    backdrop-filter: blur(var(--menu-button-blur-size)) !important;
    -webkit-backdrop-filter: blur(var(--menu-button-blur-size)) !important;
    width: var(--menu-button-size);
    height: var(--menu-button-size);
    background-color: var(--menu-button-backgroun-color);
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 2000;
    color: var(--primary-color);
  }

  .menu-button i {
    padding: 0;
    margin: auto 0;
    display: block;
    text-align: center;
    font-size: 32px;
  }

  .sidebar {
    justify-content: space-between;
    height: 100vh;
  }

  .profile-img {
    width: 25%;
    margin-right: 20px;
    margin-bottom: auto;

  }

  .profile-img>img {
    border-radius: 1rem !important;
    border-width: 2pt;
  }

  .personal-info-container {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 10px;
  }

  .personal-info {
    margin-top: 0;
    margin-bottom: min(10vh, 25px);
    display: flex;
    align-items: flex-start;
  }

  .SiteDescription,
  .degree {
    font-size: 14pt;
  }

  .flag-mobile {
    display: inline-block !important;
    width: 36px;
    margin-left: 10px;
  }

  .flag {
    display: none;
  }

  .navmenu ul li {
    max-height: 48;
  }

  .navmenu ul li {
    font-size: 12pt;
  }

  .social-links {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: none;
    width: 100%;
  }

  #sidebar-toggle {
    display: block;
  }

  #loading-spinner {
    /* display: none; */
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, 50%);
    z-index: 9999;
  }


  @keyframes shakeScale {
    0% {
      transform: rotate(0deg) scale(1);
    }

    10% {
      transform: rotate(-10deg) scale(1.1);
    }

    20% {
      transform: rotate(10deg) scale(1.1);
    }

    30% {
      transform: rotate(-10deg) scale(1.0);
    }

    40% {
      transform: rotate(10deg) scale(1.1);
    }

    50% {
      transform: rotate(-10deg) scale(1.1);
    }

    60% {
      transform: rotate(10deg) scale(1.0);
    }

    70% {
      transform: rotate(-10deg) scale(1.1);
    }

    80% {
      transform: rotate(10deg) scale(1.1);
    }

    90% {
      transform: rotate(-10deg) scale(1.1);
    }

    100% {
      transform: rotate(0deg) scale(1);
    }
  }

  .shake-once {
    display: inline-block;
    /* Ensures transform works properly */
    animation: shakeScale 2s ease-in-out 1;
  }

  /* ------------------ Date picker ------------------ */

  .rs-picker-popup {
    top: 150px !important;
  }

  #blog-post-vertical-container {
    margin-top: 20px;
  }

  #blog-post-banner-container .title {
    color: var(--primary-color);
    font-size: 26pt;
    font-weight: bold;
  }

  .blog-post-tag-date-container {
    flex-direction: column;
    gap: 10px;
  }

  .blog-container-md {
    color: #e0e0e0;
    font-size: 12pt !important;
  }

  #blog-post-banner-container .title {
    color: var(--primary-color);
    font-size: 22pt;
    font-weight: bold;
  }

  .home-page-experties-item-title {
    font-size: 16pt;
  }

  .home-page-experties-item {
    margin-top: 40pt;
    width: 100%;
    margin: 30pt 0;
    max-width: none;
    min-width: none;

  }

  .svg-icon {
    width: 28px;
  }

  .project-area-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .project-grid-item {
    width: 100%;
    max-width: 95vw !important;
  }


}


/* Mobile Devices */
@media (max-width: 650px) {

  .project-grid-item-image {
    aspect-ratio: 16/5;
  }

  .project-grid-item {
    border-radius: var(--project-item-border-radius) !important;
    margin-bottom: 20px !important;
  }

  .project-grid-item-content-container {
    flex-direction: column !important;
    padding-right: 20px;

  }

  .project-grid-item-content-description {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .project-grid-item-content-extras {
    min-width: 100%;
    padding: 5px;
    padding-top: 10px;
    border-left: none !important;
    border-top: 1px solid color-mix(in srgb, var(--background-primary-color), white 50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px !important;
  }

  .project-grid-item-ribbon-container {
    --ribbon-width: 120px;
  }

  .ribbon-wip {
    font-size: 14pt;
  }


  .project-item-buttons {
    position: static;
    padding-bottom: 5px;
    padding-top: 15px;
    border-radius: 0;
    margin-top: 25px;
    border-top: 1px solid color-mix(in srgb, var(--background-primary-color), white 50%);

  }

  .project-grid-item-content-extras-container {
    position: static;
    max-width: unset;
    width: 100%;
  }

  .project-item-corner-arch {
    display: none !important;
  }
}